.sleep-container {
  background-color: #1a237e; /* Tamno plava pozadina */
  padding: 20px;
  border-radius: 15px;
  color: white;
  border: 1px solid #3f51b5;
}

h3 { color: #e3f2fd; margin-top: 0; }

.sleep-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

select, input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #90caf9;
  background: white;
  width: 50%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1976d2;
}

.sleep-history {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.sleep-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #1a237e;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  border-left: 5px solid #2196f3;
}

.card-info strong { font-size: 0.9rem; }
.card-info span { margin-left: 10px; font-weight: bold; color: #1976d2; }

.delete-btn {
  background: none;
  border: none;
  color: #f44336;
  font-size: 1.1rem;
  cursor: pointer;
  width: auto;
  padding: 0;
}

.empty-msg {
  text-align: center;
  font-size: 0.85rem;
  color: #bbdefb;
}