.journal-container {
  background-color: #fff0f5; /* LavenderBlush roza */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ffc0cb;
  color: #d81b60;
}

.journal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

select, textarea {
  padding: 10px;
  border: 2px solid #ffb6c1;
  border-radius: 8px;
  font-family: inherit;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

button {
  background-color: #ff69b4; /* Hot Pink */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #e91e63;
}

.journal-history {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 5px;
}

.journal-card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #ff69b4;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #ad1457;
}

.btn-delete {
  background: none;
  color: #ff1493;
  font-size: 0.75rem;
  padding: 2px 5px;
  margin-top: 5px;
  border: 1px solid #ff1493;
}

.empty-info {
  text-align: center;
  font-style: italic;
  color: #f06292;
}